@light-blue: #015bb6;
@dark-blue: #04327d;

.search-bar {
  background-color: @light-blue;
  color: #fff;
  padding:5px;
  height: 31px;
  .fa {
    font-size: 20px;
    color: #fff;
  }

  .search-input {
    float: right;
    border: none;
    border-radius: 8px;
    height: 22px;
    width: 100%;
    max-width: 250px;
    padding: 0 10px;
    background-color: @dark-blue;
    color: #fff;
  }
}

.profile {
  .profile-head {
    display: block;
    height: 120px;
    img {
      float: left;
      margin: 10px;
      width: 100px;
      height: 100px;
    }

    h2 {
      margin: 0 auto;
      padding: 20px;
    }
  }

  .profile-body {
  }
}
