.page {
}

.main-frame {
  min-height: 320px;
}

.frame-list {
  min-height: 200px;

  .frame {
    font-size: 20px;
    padding: 5px;
  }
}

.frame {
  border: 1px solid #e5e5e5;
  /*background-color: #333;*/
}
