.main-frame {
    width: 100%;
    position: fixed;
    padding: 20px 0;
    border: 1px solid #D6D6D6;
    background: #3498db;
    color: #FFF;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.3);

    text-align: center;
    padding: 14px;

    & .nom {
        margin-top: 20px;
        font-size: 30px;
    }
    & .offre-com {
        font-size: 20px;
        color: #FFF;
        font-weight: normal;
    }
    & .challenge {
        display: none;
    }

    /* Détails, cachés par défaut */
    & .details {
        display: none;
    }


    & .description {
        text-align: left;
    }

    & .offres-commerciales {
        text-align: left;

    }

}
