o{% extends "base.html" %}

{% block style %}
<link href="/static/less/main.less" rel="stylesheet/less">
{% endblock %}

{% block javascript %}
<script src="/static/js/main.js"></script>
{% endblock %}

{% block body %}

<div class="profile">
  <div class="profile-head">
    <img class="avatar" src="/static/img/avatar.jpg" />
    <h2>{{ client.Name }}</h2>
  </div>
  <hr>
  <h4>Informations client</h4>
  <div class="profile-body">
    <div class="row top-row">
      <ul class="user-attributes pull-left">
        <li><img src="/static/img/logo_AXA_baby_off.png" /></li>
        <li><img src="/static/img/logo_AXA_car.png" /></li>
      </ul>
      <ul class="insurance-logos pull-right">
        <li class="active"><img src="/static/img/logo_AXA_light.png" /></li>
        <li><img src="/static/img/logo_AXA_light.png" /></li>
      </ul>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <dl class="dl-horizontal">
          <dt>Nom du client</dt>
          <dd>{{ client.Name }}</dd>
          <dt>Type</dt>
          <dd>Client</dd>
          <dt>Potentiel</dt>
          <dd>Moyen/Court terme</dd>
          <dt>Valeur client</dt>
          <dd>-</dd>
        </dl>
      </div>
      <div class="col-xs-4 col-xs-offset-4">
        <dl class="dl-horizontal">
          <dt>Numéro client FCA</dt>
          <dd>C-4242</dd>
          <dt>Numéro abonné</dt>
          <dd>C-1337</dd>
          <dt>Segment</dt>
          <dd>52</dd>
          <dt>Qualité perçue</dt>
          <dd>3-</dd>
        </dl>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="recommendations-wrapper">
  <h4>Suggestions</h4>
  {% if recommendations %}
  <ul class="recommendations">
    {% for r in recommendations %}
    {% set recommendation = r[0] %}
    {% set score = r[1] %}
    <li class="row recommendation">
      <div class="col-xs-2 icon-wrapper">
        <img src="static/img/logo_axa.png" class="contract-icon">
      </div>
      <div class="col-xs-10">
        <h3 class="nom">
          {{ recommendation.Name }}
        </h3>
        {% if recommendation.discounts %}
        <span class="offre-com">
          <span class="glyphicon glyphicon-star"></span>
          {{ length(recommendation.discounts) }}
          offres commerciales
        </span>
        {% else %}
        <span class="offre-com inactive">
          <span class="glyphicon glyphicon-star"></span>
          Aucune offre commerciale disponible
        </span>
        {% endif %}
        {% if recommendation.challenges %}
        {% for challenge in recommendation.challenges %}
        <div class="challenge">
          <span class="fa fa-trophy challenge-icon"></span>
          <span class="challenge-name">{{ challenge.title }}</span>
          <div class="progress-bar">
            <span class="completed" style="width: {{ challenge.progress }};"></span>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="challenge inactive">
          <span class="fa fa-trophy challenge-icon"></span>
          <span class="challenge-name">Aucun défi disponible</span>
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h3>Pas de recommendations disponibles</h3>
  {% endif %}

  <h4>Opportunités risquées</h4>
  {% for recommendation in risqued %}
  {% endfor %}
  <ul class="recommendations risqued">

    <li class="row recommendation">
        <div class="col-xs-3">
          <img src="static/img/logo_axa.png" class="contract-icon">
        </div>

        <div class="col-xs-9">

          <h3 class="nom">
            Assurance retraite - Niveau 2
          </h3>

          <span class="danger-refus">
            <span class="glyphicon glyphicon-exclamation-sign exclamation"></span>
            Risque de refus: <strong>67%</strong>
          </span>


        </div>
    </li>

    <li class="row recommendation">
        <div class="col-xs-3">
          <img src="static/img/logo_axa.png" class="contract-icon">
        </div>

        <div class="col-xs-9">

          <h3 class="nom">
            Assurance auto - Niveau 3
          </h3>

          <span class="danger-refus">
            <span class="glyphicon glyphicon-exclamation-sign exclamation"></span>
            Risque de refus: <strong>39%</strong>
          </span>


        </div>
    </li>

    <li class="row recommendation">
        <div class="col-xs-3">
          <img src="static/img/logo_axa.png" class="contract-icon">
        </div>

        <div class="col-xs-9">

          <h3 class="nom">
            Assurance domicile - Niveau 2
          </h3>
          <span class="danger-refus">
            <span class="glyphicon glyphicon-exclamation-sign exclamation"></span>
            Risque de refus: <strong>22%</strong>
          </span>
        </div>
    </li>
  </ul>
</div>

<div class="meetings-wrapper">
  <h4>Rendez-vous</h4>
  {% if reunions %}
  <ul class="meetings">
  {% for reunion in client.reunions %}
  {% endfor %}
</ul>
  {% else %}
  <h3>Pas de rendez-vous prévu</h3>
  {% endif %}
  <ul class="meetings">
    <li class="expected">
      Le <span class="date">27 Janvier 2014</span>, à <span class="heure">10H15</span><br />
      <span class="adresse">20 avenue Albert Einstein, Villeurbanne</span>

      <img class="calendar-bg" src="static/img/calendar.png" />
    </li>

    <li>
      Le <span class="date">13 Janvier 2014</span>, à <span class="heure">14h30</span><br />
      <span class="adresse">128 rue des Tilleuls, Villeurbanne</span>
      <span class="produits-abordes"><strong>Produits abordés :</strong> Assurance domicile, Assurance auto, Assurance études.</span>

    </li>

    <li class="cancelled">
      Le <span class="date">10 Janvier 2014</span>, à <span class="heure">08h30</span><br />
      <span class="adresse">404 impasse Pay Hachepey, Villeurbanne</span>
    </li>

    <li>
      Le <span class="date">16 Décembre 2013</span>, à <span class="heure">08h30</span><br />
      <span class="adresse">30 boulevard Scuturici, Villeurbanne</span>
    </li>

  </ul>
</div>

{% endblock %}
