<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Home | MindBlaster</title>
    <!--<link href="/static/css/normalize.css" rel="stylesheet/less">-->
    <!--<link href="/static/css/main.css" rel="stylesheet/less">-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/less/main.less" rel="stylesheet/less">
    <script type="text/javascript" src="/static/js/vendor/less-1.6.1.min.js"></script>
  </head>

  <body>
    <div>
      <input class="form-control" type="search" value="" placeholder="Chercher une offre">
    </div>

    <ul class="clients">
      {% for client in clients %}
      <li>
        <span data-id="{{client.Id}}" class="name">{{client.Name}}</span>
      </li>
      {% endfor %}

    </ul>

    <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/static/js/vendor/modernizr-2.6.2.min.js "></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>
    <link href="/static/css/font-awesome.css" rel="stylesheet">
  </body>
</html>
