{% extends "base.html" %}

{% block body %}

<div class="page">
  <input type="text" id="#client-name" class="form-control" placeholder="Nom du client">
  {% if clients %}
  <table class="table table-hover clients">
    <thead>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Profil Mindblast</th>
      <th>Profil Salesforce</th>
    </thead>
    <tbody>
    {% for client in clients %}
      <tr>
        <td>{{ client.first_name }}</td>
        <td>{{ client.last_name }}</td>
        <td>
          {% set url_ = url_for("client_detail", client_id=client.id) %}
          <a href="{{ url_ }}">{{ url_ }}</a>
        </td>
        <td>
          {% set url_ = "https://eu2.salesforce.com/" + client.contact_id[:-3] %}
          <a href="{{ url_ }}">{{ url_ }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1>Pas de clients disponibles</h1>
  {% endif %}
  <script src="/static/js/list.js"></script>


</div>

{% endblock %}
